<!DOCTYPE html>
<html ng-app="apps">
<head>
  <title>Jingen Lin's Applications | Web Developer | Software Engineer</title>
  <meta charset="UTF-8">
  <%= content_for?(:seo) ? yield(:seo) : '' %>
  <link rel="stylesheet" href="/css/bootstrap-all.css">
  <link rel="author" href="//plus.google.com/117946891143736169828">
  <link href="http://www.linjingen.com" rel="canonical" >

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-ui-router.min.js"></script>
<script src="/js/angular-file-upload.min.js"></script>

<script src="/js/apps-initializer.js"></script>
<script src="/js/resize-images.js"></script>
<script src="/js/spell-check.js"></script>
</body>
</html>
